.alternate-section {
  padding: 4rem 0; // Increased padding for more breathing space

  .section-header {
    margin-bottom: 3rem; // More space between header and content
  }

  .row {
    margin-bottom: 4rem; // More space between rows

    @media (min-width: 992px) { // lg breakpoint for bootstrap
      &:nth-child(even) {
        flex-direction: row-reverse; // Only reverse the direction on larger screens
      }
    }
    
    .col-lg-6 {
      padding: 0 30px; // More padding for spacing around the image and text

      &:first-child {
        order: 2; // Ensures the image comes second on mobile
      }
    }

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      border-radius: 0.5rem; // Rounded corners for images
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); // More pronounced shadow for depth
      transition: transform 0.3s ease-in-out; // Smooth transform on hover

      &:hover {
        transform: scale(1.03); // Slightly increase size on hover for interaction feedback
      }
    }

    h3 {
      font-size: 1.75rem; // Larger titles for emphasis
      color: #333; // Darker text for better readability
      margin-top: 0; // Adjusted margin
    }

    p {
      color: #555; // Slightly lighter text for the description
      font-size: 1rem; // Adjusted font size for readability
      line-height: 1.6; // Increased line-height for readability
    }

    a {
      color: #007bff; // Bootstrap primary color for links
      text-decoration: none; // No underline
      &:hover {
        text-decoration: underline; // Underline on hover for clear interactivity
      }
    }
  }
}

@media (max-width: 991px) { // md breakpoint for bootstrap
  .col-lg-6:first-child {
    order: 0; // Reset order on medium-sized screens
  }
}

@media (max-width: 767px) { // sm breakpoint for bootstrap
  .row {
    flex-direction: column; // Stack elements on smaller screens
    margin-bottom: 2rem; // Less margin on smaller screens

    .col-lg-6 {
      padding: 0; // Full width on small screens
    }
  }
}
